.contenedor
{
    padding: 5px;
    background-color: rgb(56, 197, 28);
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-areas: "header         header"
                          "nav           nav"
                          "contenido     ads"
                          "footer        footer";

}
.header
{
    background-color: aquamarine;
    grid-area: header;

}
.nav
{
    background-color: azure;
    grid-area: nav;
}
.contenido
{
    background-color: azure;
    grid-area: contenido;
    width: auto;

}
.ads
{
    background-color: azure;
    grid-area: ads;

}
.footer
{
    background-color: beige;
    grid-area: footer;
}